.myProfileContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.profileImg {
    width: 150px;
    height: 150px;
    margin: 1rem;
    border: 1px solid grey;
}

.profileInfoTable {
    text-align: left;
}

.underline {
    border-bottom: 1px solid grey;
}