.joke-card {
    margin: 1.5rem !important;
    width: 18rem !important;
    min-width: 17rem !important;
    box-shadow: 1px 2px 4px;
}

.joke-card--text {
    text-align: left;
    height: 110px;
}

.joke-card--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50x;
}

.card-container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.strong-margin-bottom {
    margin-bottom: 1.5rem;
}

.strong-margin {
    margin: 20px;
}

.author-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0.3rem;
}

.author-header--image {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
    border: 1px solid gray;

}

.img-tiny {
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    margin: 4px;
}

.overflow-auto {
    overflow: auto;
}

.search-input-container {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.background-grey {
    background-color: #FBFCFD;
}

.form-group {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.joke-text-input {
    height: 160px;
}

.joke-card-category-header {
    width: 180px;
    height: 37px;

}